#special .el-button {
  width: 100px;
  margin-left: 20px;
}

#special .el-button:nth-child(2) {
  margin-top: 10px !important;
  margin-left: 20px;
}

#special_goods {
  width: 100%;
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid #dcdfe6;
  color: #000;
  display: block;
  overflow: hidden;
  position: relative;
}

#special_goods .xcx-add {
  position: absolute;
  top: 16px;
  right: 5px !important;
  color: #FFFFFF;
  background: #0486fe;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.btn {
  margin-top: 30px;
}

